$MainColor: rgb(75, 20, 204);
$MainColorTone1: rgb(80, 22, 217);
$MainColorTone2: rgb(28, 8, 77);
$SecondaryColor: rgb(204, 191, 20);
$SecondaryCompundColor1: rgb(210, 187, 74);
$SecondaryCompundColor2: rgb(216, 0, 255);


nav-bg {
   background-color: $MainColor; 
}

logo-bg {
    background-color: $SecondaryColor;
}